* {
  margin: 0;
  padding: 0;

}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(74px * 8);
  height: calc(74px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 74px;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.black {
  background-color: rgb(49, 59, 59);
}

.white {
  background-color: rgb(36, 137, 155);
}